h2 {
  Background-color: rgba(255, 0, 0, 0.3);
  width: 50%;
  transition-property: background-color, width;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
}

h2:hover {
  background-color: green;
  width: 100%;
}

