!!!
%html
  %head
    %title Circle Test
    %link{:rel => 'stylesheet', :type => 'text/css', :href => './assets/stylesheets/bootstrap.min.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => './assets/stylesheets/circle.css'}
      %meta{:charset => 'utf-8'}

  %body
    %div.container
      %div.row
        %div.col.col-md-12.main-content
          %div.growing-circle Circle
      %div.row
        %div.col.col-md-3.input-form-box

  %script{:type => 'text/javascript', :src => './assets/javascripts/jquery-1.11.0.min.js'}
  %script{:type => 'text/javascript', :src => './assets/javascripts/circle.js'}
